.work-space-view {
    inset: 50px 340px 40px 342px;
    position: absolute;
    overflow: auto;
    cursor: grab;
}

.work-space {
    background-color: #d3d3d3;
    text-align: center;
    /*border: 1px solid #a8a8a8;*/
    /*position: absolute*/
    width: 2000px;
    height: 2000px;
    z-index: 5;
}

.draggable {
    position: absolute;
    /*z-index: 0;*/
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    cursor: pointer;
}

.draggable-header {
    padding: 10px;
    cursor: move;
    /*z-index: 1;*/
    background-color: #2196f3;
    color: #fff;
}
