@model CreateWorkspaceViewModel

@section Styles {
	<link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
}

<section class="h-100 my-login-page">
	<div class="container h-100">
		<div class="row justify-content-md-center h-100">
			<div class="card-wrapper">
				<div class="brand">
					<img src="~/icons/logo_bd.png" alt="logo">
				</div>
				<div class="card fat rounded">
					<div class="card-body">
						<h4 class="card-title">Create workspace</h4>

						@if (TempData["Error"] != null)
						{
							<div class="alert alert-danger">
								@TempData["Error"]
							</div>
						}

						<form asp-controller="Workspace" asp-action="Create">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>

							<div class="form-group">
								<label asp-for="Name">Name</label>
								<input asp-for="Name" class="form-control">
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>

							<div class="form-group m-0">
								<button type="submit" class="btn btn-primary btn-block w-100">Create</button>
							</div>
						</form>
						<div class="mt-4 text-center">
							Want to open a workspace? <a href="/Account/Profile">Open workspace</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>