@{
    ViewData["Title"] = "WorkSpace";
}

<div class="d-flex flex-column min-vh-100 min-vw-100" style="max-height: 100vh; max-width: 100vw;">

    @await Html.PartialAsync("Panels/TopPanel")
    <div class="flex-fill d-flex flex-row overflow-hidden">
        @await Html.PartialAsync("Panels/SidePanel")
        @await Html.PartialAsync("Panels/ItemsPanel")
        @await Html.PartialAsync("Workspace/Workspace")
        @await Html.PartialAsync("Panels/DetailsPanel")
    </div>
    @await Html.PartialAsync("Panels/BottomPanel")

</div>
@section Scripts {
    <environment include="Development">
        <script src="~/js/script.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/script.min.js" asp-append-version="true"></script>
    </environment>

    <environment include="Development">
        <script src="~/lib/signalr/dist/signalr.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/signalr/dist/signalr.min.js"></script>
    </environment>
    <script src="~/js/sidebars.js" asp-append-version="true"></script>
    <script src="~/js/workspace.js" asp-append-version="true"></script>
}