<div class="p-3 overflow-auto bg-white border-end item-panel tab-content">

	@await Html.PartialAsync("Panels/DiagramsListPanel")
	@await Html.PartialAsync("Panels/AccessSettingsListPanel")
	@await Html.PartialAsync("Panels/SettingsPanel")

</div>