<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#users-settings-collapse" aria-expanded="true">
                User settings
            </button>
            <div class="collapse show" id="users-settings-collapse" style="">
                <div class="col-md mt-2">
                    <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" placeholder="User name" value="User 1">
                    <label for="floatingInputGrid">User name</label>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>