<div class="tab-pane fade" id="settings-WorkspaceSettings" role="tabpanel" aria-labelledby="workspace-settings-tab">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#workspace-settings-collapse" aria-expanded="true">
                Workspace settings
            </button>
            <div class="collapse show" id="workspace-settings-collapse" style="">
                @await Html.PartialAsync("Templates/InputField", new InputField("Name", ViewBag.Workspace.Name))
            </div>

            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#workspace-document-collapse" aria-expanded="true">
                Document
            </button>
            <div class="collapse show" id="workspace-document-collapse" style="">
                <label for="json-document-viewer" class="form-label">Document as Json</label>
                <textarea class="form-control" id="json-document-viewer" rows="20" style="font-size: 0.8rem;"></textarea>
            </div>
        </li>
    </ul>
</div>