<div class="tab-pane fade" id="settings-WorkspaceSettings" role="tabpanel" aria-labelledby="workspace-settings-tab">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#workspace-settings-collapse" aria-expanded="true">
                Workspace settings
            </button>
            <div class="collapse show" id="workspace-settings-collapse" style="">

                @await Html.PartialAsync("Templates/InputField", new InputField("Name", ViewBag.Settings.WorkspaceSettings.Name))
                @* <div class="col-md mt-2">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid" placeholder="Workspace name" value="Empty Workspace">
                        <label for="floatingInputGrid">Workspace name</label>
                    </div>
                </div> *@
            </div>
        </li>
    </ul>
</div>