<div class="work-space-view">
    <div class="work-space">

        <div class="draggable">
            <div class="draggable-header">Click here to move</div>
            <p>Item1</p>
            <p>Item2</p>
            <p>Item3</p>
        </div>

        <div class="draggable">
            <div class="draggable-header">Click here to move</div>
            <p>Item1</p>
            <p>Item2</p>
        </div>

    </div>
</div>